/*首页page1*/
section #page1{
	background: url(../img/bg_page1.jpg) no-repeat center center;
	background-size: 100% 100%;
	position: relative;
}
#page1 .hire{
	width: 30%;height: 50%;
	position: absolute;
	left: 33%;top: 35%;
	z-index: 2;		
}
#page1 .hire p,a{
	text-align: center;
	color: #fff;
}
#page1 .hire_p1{
	font-size:80px;
	font-weight: bold;
	padding:26px 0 54px;
}
#page1 .hire_p2{
	display: block;
	font-size: 40px;
	font-weight: bold;
	background: #fb6470;
	width: 240px;
	margin: 0 auto;
	border-radius: 20px;
	height: 50px;
	line-height: 50px;
}
@media screen and (max-width:960px){
	#page1 .hire_p1{
		font-size:70px;
		font-weight: bold;
		padding:76px 0 50px;
	}
	#page1 .hire_p2{
		font-size: 30px;
		font-weight: bold;
		background: #fb6470;
		width: 220px;height: 40px;
		margin: 0 auto;
		border-radius: 20px;
	}

}
@media screen and (max-height:560px){
	#page1 .hire_p1{
		font-size:70px;
		font-weight: bold;
		padding:76px 0 50px;
	}
	#page1 .hire_p2{
		font-size: 30px;
		font-weight: bold;
		background: #fb6470;
		width: 220px;
		margin: 0 auto;
		border-radius: 20px;
	}
}
/*/ 度娘搜索/*/
section #soso{
	width: 608px;
	height: 400px;
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -304px;
}
#soso div{
	width:628px;
	height: 36px;
	padding: 10px 0 0 0;
}
#soso input,#soso span{
	display: inline-block;
	vertical-align: top;
	float: left;
}
#soso input{
	outline: none;
	width:520px;
	height: 34px;
	border:1px solid #848181;
	padding-left: 5px;
	font-size: 16px;
}
#soso span{
	width: 100px;height: 36px;
	background: #3385ff;
	text-align: center;
	line-height: 34px;
	color: #fff;
	cursor: pointer;
}
#soso ul{
	width: 525px;
	position: absolute;
	left: 0;top: 91px;
	border:1px solid #848181;
	background: #fff;
	border-top: none;
	opacity: 0.7;
	z-index: 10;
}
#soso ul li{
	padding-left: 5px;
	line-height: 30px;
	cursor: pointer;
}
#soso ul li.active{
	background: #dbdcdd;
}
/*雪花飘飘*/
section #snow{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;top: 0;
}
section #snow div{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;top: 0;
}
section #snow div canvas{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;top: 0;
}