/* nav */
.nave{ width:100%; height:38px; border:1px solid #eee; background:#f5f5f5;}
.nav{ width:1200px; height:38px; margin:0 auto;}
.nav li{ height:18px; font-size:12px; line-height:18px; border-right:1px dotted #cbcbcb; float:right; margin:10px 0; }
.nav li a{color:#666;}
.nav .list8{padding:0 16px 0 19px;background:url(../img/images/nav_03.png) no-repeat left center;}
.nav .list7{padding:0 16px 0 18px; margin-left:19px;background:url(../img/images/nav_05.png) no-repeat left center;}
.nav .list6{padding:0 16px 0 15px; }
.nav .list5{padding:0 16px 0 15px;}
.nav .list4{padding:0 37px 0 22px;margin-left:15px;background:url(../img/images/nav_07.png) no-repeat left center; position:relative;}
.nav .list3{padding:0 16px 0 22px;margin-left:15px;background:url(../img/images/nav_09.png) no-repeat left center;}
.nav .list2{padding:0 15px 0 18px;margin-left:16px;background:url(../img/images/nav_11.png) no-repeat left center;}
.nav .list1{padding:0 15px 0 8px; border:none; }
.nav .nav1 .door{ position:absolute; left:89px;top:2px;}
.nav .nav1 .door .lt{ width:4px; height:15px; background:url(../img/left.png) no-repeat; position:absolute;left:0; top:0;}
.nav .nav1 .door .ri{ width:4px; height:15px; background:url(../img/right.png) no-repeat; position:absolute;right:-1px; top:0;}
.nav .nav1 .door .ce{ width:4px; height:15px; background:url(../img/center.png) repeat-x;padding:0 4px; text-align:center; line-height:15px; font-size:9px;}
/*logo*/
.all{width:100%; height:66px;}
.all-logo{width:1200px; height:66px; margin:0 auto;}
.all-logo .logo{ width:108px; height:38px; background:url(../img/logo.png) no-repeat center center; text-indent:-999em; margin:15px 0 15px 10px;}
.logo a{display:block;width:108px; height:38px;}
.all-logo .search{width:460px; height:30px; border:2px solid #f69; margin:16px 380px 16px 0;}
.all-logo .search select{width:70px; height:28px; background:#f5f5f5; border:none;font-size:12px; color:#666;border-right:1px solid #e6e6e6;padding:0 5px 0 16px;}
.all-logo .i1{width:266px; height:29px; border:none; font-size:12px; color:#a9a9a9; background:url(../img/so.png) no-repeat left center; padding-left:16px;}
.all-logo .i2{width:92px; height:30px; border:none; font-size:14px; color:#fff; background:#f69;}
/* naver */
.naver1{ width:100%; height:40px; background:#ff6599;}
.naver{ width:1200px; height:40px; margin:0 auto;}
.naver .list li{height:40px; text-align:center; line-height:40px;}
.naver .list li a{height:40px; display:block; font-size:14px;color:#fff;padding:0 14px 0 15px;}
.naver .list .list3 a{height:40px; display:block; font-size:14px;color:#fff;padding:0 24px 0 15px;}
.naver .list .list12 a{height:40px; display:block; font-size:14px;color:#fff;padding:0 24px 0 15px;}
.naver .list li a:hover{ background:#ed3577;}
.naver .list .list3 a:hover{ background:url(../img/xia.png) no-repeat 50px center #ed3577; }
.naver .list .list12 a:hover{ background:url(../img/xia.png) no-repeat 90px center #ed3577; }
.naver .list .list3 { background:url(../img/xia.png) no-repeat 50px center;}
.naver .list .list12 { background:url(../img/xia.png) no-repeat 90px center;}
/*head*/
.head{width:100%;}
.photo{ width:100%; height:419px;background:url(../img/img/tupian.jpg) no-repeat center center; border-bottom:1px solid #e6e6e6; margin:0 auto;}
.box{width:1200px; height:154px; margin:0 auto; position:relative;}
.head .box .box1{width:238px; height:572px; border:1px solid #e6e6e6; position:absolute;left:0; top:-420px; background:#fff;}
.head .box .box2{width:949px; height:144px; position:absolute;left:251px;top:10;}
.head .box .box3{width:200px; height:419px; position:absolute;left:1000px;top:-420px;}
.head .box .box1 .lt1{width:238px; height:116px; background: url(../img/jianyouyou.png) no-repeat 217px center;}
.head .box .box1 .lt1 dl{width:197px; height:115px; border-bottom:1px dotted #cbcbcb;margin:0 21px 0 20px;}
.head .box .box1 .lt1 dd{ float:left; font-size:12px; padding:6px 14px 5px 0;}
.head .box .box1 .lt1 dt{ font-size:16px; color:#f69;margin:0 0 6px 0; background:url(../img/re.png) no-repeat left 13px;padding-left:22px;padding-top:13px;}
.head .box1 .lt1 .dd2 a{ color:#f69;}
.head .box1 .lt1 .dd1 a{ color:#666;}
.head .box .box1 .lt2{width:238px; height:116px; background: url(../img/jianyouyou.png) no-repeat 217px center;}
.head .box .box1 .lt2 dl{width:197px; height:115px; border-bottom:1px dotted #cbcbcb;margin:0 21px 0 20px;}
.head .box .box1 .lt2 dd{ float:left; font-size:12px; padding:6px 14px 5px 0;}
.head .box .box1 .lt2 dt{ font-size:16px; color:#f69;margin:0 0 6px 0; background:url(../img/re.png) no-repeat left 13px;padding-left:22px;padding-top:13px;}
.head .box1 .lt2 .dd2 a{ color:#f69;}
.head .box1 .lt2 .dd1 a{ color:#666;}
.head .box .box1 .lt3{width:238px; height:116px; background: url(../img/jianyouyou.png) no-repeat 217px center;}
.head .box .box1 .lt3 dl{width:197px; height:115px; border-bottom:1px dotted #cbcbcb;margin:0 21px 0 20px;}
.head .box .box1 .lt3 dd{ float:left; font-size:12px; padding:6px 14px 5px 0;}
.head .box .box1 .lt3 dt{ font-size:16px; color:#f69;margin:0 0 6px 0; background:url(../img/re.png) no-repeat left 13px;padding-left:22px;padding-top:13px;}
.head .box1 .lt3 .dd2 a{ color:#f69;}
.head .box1 .lt3 .dd1 a{ color:#666;}
.head .box .box1 .lt4{width:238px; height:116px; background: url(../img/jianyouyou.png) no-repeat 217px center;}
.head .box .box1 .lt4 dl{width:197px; height:115px; border-bottom:1px dotted #cbcbcb;margin:0 21px 0 20px;}
.head .box .box1 .lt4 dd{ float:left; font-size:12px; padding:6px 14px 5px 0;}
.head .box .box1 .lt4 dt{ font-size:16px; color:#f69;margin:0 0 6px 0; background:url(../img/re.png) no-repeat left 13px;padding-left:22px;padding-top:13px;}
.head .box1 .lt4 .dd2 a{ color:#f69;}
.head .box1 .lt4 .dd1 a{ color:#666;}
.head .box .box1 .lt5{width:238px; height:116px; background: url(../img/jianyouyou.png) no-repeat 217px center; border:none}
.head .box .box1 .lt5 dl{width:197px; height:115px;margin:0 21px 0 20px;}
.head .box .box1 .lt5 dd{ float:left; font-size:12px; padding:6px 14px 5px 0;}
.head .box .box1 .lt5 dt{ font-size:16px; color:#f69;margin:0 0 6px 0; background:url(../img/re.png) no-repeat left 13px;padding-left:22px;padding-top:13px;}
.head .box1 .lt5 .dd2 a{ color:#f69;}
.head .box1 .lt5 .dd1 a{ color:#666;}
.head .box2 .tu1{ width:175px; height:142px; border:1px solid #e6e6e6; margin:10px 0 0 0px; }
.head .box2 .tu3{ width:198px; height:142px; border:1px solid #e6e6e6; margin:10px 0 0 11px;}
.head .box2 .tu2{ width:175px; height:142px; border:1px solid #e6e6e6; margin:10px 0 0 10px;}
.head .box3 .tu1{width:200px; height:139px;border-bottom:1px solid #e6e6e6;}
.head .box3 .tu2{width:200px; height:139px;border-bottom:1px solid #e6e6e6;}
.head .box3 .tu3{width:200px; height:139px;}
/*content*/
.content{ width:100%; height:797px;}
.content .content1{ width:1200px; height:52px; border-bottom:1px solid #e6e6e6; margin:0 auto;}
.content .content1 h3{ font-size:20px; color:#666; line-height:52px; background:url(../img/xing.png) no-repeat left center; padding-left:38px;}
.content .content1 h3 span{ color:#f69;}
.content .content2{ width:1200px; height:744px; margin:0 auto;}
.content .content2 a{width:180px; height:255px; text-align:center; display:block;}
.content .content2 .list1{ width:180px; height:357px; padding-top:15px; margin-right:24px;}
.content .content2 .list1 .p1{ font-size:12px; color:#666;height:28px; padding-top:8px;}
.content .content2 .list1 .p2{ font-size:12px; color:#f69; width:180px; height:36px; line-height:36px; border-bottom:1px dotted #cbcbcb;}
.content .content2 .list1 .p2-1{ font-size:9px; color:#999; text-decoration:line-through;}
.content .content2 .list1 .p3{ font-size:12px; color:#666; margin-top:9px;}
.content .content2 .list2{ width:180px; height:357px; padding-top:15px; margin-right:24px;}
.content .content2 .list2 .p1{ font-size:12px; color:#666;height:28px; padding-top:8px;}
.content .content2 .list2 .p2{ font-size:12px; color:#f69; width:180px; height:36px; line-height:36px; border-bottom:1px dotted #cbcbcb;}
.content .content2 .list2 .p2-1{ font-size:9px; color:#999; text-decoration:line-through;}
.content .content2 .list2 .p3{ font-size:12px; color:#666; margin-top:9px;}
.content .content2 .list3{ width:180px; height:357px; padding-top:15px;}
.content .content2 .list3 .p1{ font-size:12px; color:#666;height:28px; padding-top:8px;}
.content .content2 .list3 .p2{ font-size:12px; color:#f69; width:180px; height:36px; line-height:36px; border-bottom:1px dotted #cbcbcb;}
.content .content2 .list3 .p2-1{ font-size:9px; color:#999; text-decoration:line-through;}
.content .content2 .list3 .p3{ font-size:12px; color:#666; margin-top:9px;}
/*body*/
.body{ width:100%; height:457px;}
.body .body1{ width:1200px; height:69px; border-bottom:1px solid #e6e6e6; margin:0 auto;}
.body .body1 h3{ font-size:20px; color:#666; background:url(../img/gou.png) no-repeat left 40px; padding:40px 0 0 38px;}
.body .body h3 span{ color:#f69;}
.body .body1 p a{ font-size:14px;color:#999; display:block;margin-top:38px;}
.body .body2{ width:1200px; height:387px; margin:0 auto;}
.body .body2 .list1{ width:180px; height:357px; padding-top:15px; margin-right:24px;}
.body .body2 .list1 .p1{ font-size:12px; color:#666;height:28px; padding-top:8px;}
.body .body2 .list1 .p2{ font-size:12px; color:#f69; width:180px; height:36px; line-height:36px; border-bottom:1px dotted #cbcbcb;}
.body .body2 .list1 .p2-1{ font-size:9px; color:#999; text-decoration:line-through;}
.body .body2 .list1 .p3{ font-size:12px; color:#666; margin-top:9px;}
.body .body2 .list2{ width:180px; height:357px; padding-top:15px; margin-right:24px;}
.body .body2 .list2 .p1{ font-size:12px; color:#666;height:28px; padding-top:8px;}
.body .body2 .list2 .p2{ font-size:12px; color:#f69; width:180px; height:36px; line-height:36px; border-bottom:1px dotted #cbcbcb;}
.body .body2 .list2 .p2-1{ font-size:9px; color:#999; text-decoration:line-through;}
.body .body2 .list2 .p3{ font-size:12px; color:#666; margin-top:9px;}
.body .body2 .list3{ width:180px; height:357px; padding-top:15px;}
.body .body2 .list3 .p1{ font-size:12px; color:#666;height:28px; padding-top:8px;}
.body .body2 .list3 .p2{ font-size:12px; color:#f69; width:180px; height:36px; line-height:36px; border-bottom:1px dotted #cbcbcb;}
.body .body2 .list3 .p2-1{ font-size:9px; color:#999; text-decoration:line-through;}
.body .body2 .list3 .p3{ font-size:12px; color:#666; margin-top:9px;}
/*img*/
.image{ width:1200px; height:100px; margin:0 auto;padding-top:21px;}
.image a{ width:1200px; height:100px; display:block; }
/*clothes*/
.clothes1{width:1200px; height:52px; margin:0 auto; border-bottom:1px solid #e6e6e6;}
.clothes1 h3{font-size:20px;color:#f69; background: url(../img/yifu.png) no-repeat left 20px;padding:22px 0 0 38px;}
.clothes1 .xie{font-size:20px;color:#f69; background: url(../img/xiezi.png) no-repeat left 20px;padding:22px 0 0 38px;}
.clothes1 .bao{font-size:20px;color:#f69; background: url(../img/bao.png) no-repeat left 20px;padding:22px 0 0 38px;}
.clothes1 .pet{font-size:20px;color:#f69; background: url(../img/pet.png) no-repeat left 20px;padding:23px 0 0 38px;}

.clothes1 .p1{ height:16px; font-size:14px; color:#999; margin-top:22px; margin-left:11px; padding-left:9px; border-left:1px solid #ccc;}
.clothes1 .p1 span{ font-weight:bold; color:#666;}
.clothes1 .p2{font-size:14px;color:#999; margin-top:22px;}
.clothes2{ width:1200px; height:611px; margin:0 auto; border-bottom:1px solid #e6e6e6;}
.clothes2 .clt{ width:940px; height:611px; border-right:1px solid #e6e6e6;}
.clothes2 .clt .cltt{ width:940px; height:520px; padding-top:15px;}
.clothes2 .clt .cltt li{ float:left; width:180px; height:254px;text-align:center;margin:5px 5px 0 0; position:relative;}
.clothes2 .clt .cltt i{ width:180px; height:34px; background:url(../img/img/bar_bg.png) no-repeat; display:block; position:absolute;left:0;top:221px; font-size:14px; color:#fff; text-align:center; line-height:34px;}
.clothes2 .clt .cltb .one{ width:312px; height:44px; margin:16px 0; border-right:1px solid #ccc;}
.clothes2 .one dt{width:47px; height:44px; text-align:center; line-height:44px; margin-left:4px; }
.clothes2 .one dt a{ font-size:16px; color:#f69;}
.clothes2 .one dd{ height:22px; padding-left:11px;}
.clothes2 .one dd a{ font-size:12px; color:#666;}
.clothes2 .clt .cltb .two{ width:312px; height:44px; margin:16px 0; border-right:1px solid #ccc;}
.clothes2 .two dt{width:47px; height:44px; text-align:center; line-height:44px; margin-left:4px; }
.clothes2 .two dt a{ font-size:16px; color:#f69;}
.clothes2 .two dd{ height:22px; padding-left:11px;}
.clothes2 .two dd a{ font-size:12px; color:#666;}
.clothes2 .clt .cltb .three{ width:314px; height:44px; margin:16px 0;}
.clothes2 .three dt{width:47px; height:44px; text-align:center; line-height:44px; margin-left:4px; }
.clothes2 .three dt a{ font-size:16px; color:#f69;}
.clothes2 .three dd{ height:22px; padding-left:11px;}
.clothes2 .three dd a{ font-size:12px; color:#666;}
.clothes2 .clr{ width:239px;height:611px; padding-left:20px;}
.clothes2 .clr h4{height:18px; font-size:16px; color:#666; padding-top:20px;}
.clothes2 .clr p{font-size:14px; color:#999; padding-top:22px;}
.clothes2 .clr ul{ margin-top:2px;}
.clothes2 .clr li{ width:239px; height:62px; border-bottom:1px dotted #cbcbcb;}
.clothes2 .clr .hua{border-bottom:0;}
.clothes2 .clr .clr1 img{ width:32px; height:32px; border:1px solid #e6e6e6;}
.clothes2 .clr .clr1{ margin:14px 0;}
.clothes2 .clr .clr2 .p1{font-size:12px; color:#666; padding-top:14px; padding-left:12px;}
.clothes2 .clr .clr2 .p2{font-size:12px;color:#999; padding-top:8px;padding-left:12px;}
/*book*/
.book1{ width:1200px; height:56px; margin:0 auto;}
.book1 h3{ font-size:20px; color:#666; padding-left:36px; background:url(../img/book.png) no-repeat left 21px; padding-top:20px;}
.book1 h3 span{ font-size:20px; color:#f69;}
.book1 li{ float:right;height:16px; padding:0 14px 0 17px; border-right:1px dotted #ccc; margin-top:21px;}
.book1 li a{ font-size:14px; color:#999; }
.book1 .te{border-right:none; padding-right:0;}
.book2{width:1200px; height:305px; margin:0 auto; }
.book2 li{ width:200px; height:283px; border:1px solid #ddd; float:left; margin-right:15px; padding:0 13px; position:relative;}
.book2 ul .te2{ margin-right:0;}
.book2 li .p1{ font-size:14px; color:#666;font-weight:bold; line-height:37px; height:37px;}
.book2 li .p2{ font-size:12px; color:#999; line-height:46px; height:46px;}
.book2 li .p3{ width:64px; height:20px; background:#f69;position:absolute;right:13px; bottom:13px;}
.book2 li .p3 a{ color:#fff;  font-size:12px;width:64px; height:20px; text-align:center; line-height:20px; display:block;}
/*end*/
.end{width:100%; height:311px;  background:#f5f5f5;border-top:1px solid #ddd;}
.end1{ width:1200px; height:210px;margin:0 auto;}
.end2{ width:1200px; height:30px;margin:0 auto; border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.end3{ width:1200px; height:69px;margin:0 auto;}
.end1 .d1{ width:193px; height:131px; padding-left:48px; background:url(../img/dianhua.png) no-repeat left 34px;}
.end1 .d1 .p1{ font-size:16px; font-weight:bold; color:#666; margin-top:32px;}
.end1 .d1 .p2{font-size:14px;color:#666;margin-top:8px; }
.end1 .d1 .p3{font-size:12px;color:#666;margin-top:12px;}
.end1 .d2{ width:123px; height:131px;}
.end1 .d2 dt{font-size:16px; font-weight:bold; color:#666; margin-top:24px; line-height:28px; height:28px;}
.end1 .d2 dd{ margin-top:10px;}
.end1 .d2 dd a{font-size:12px;color:#666;}
.end1 .d3{ width:123px; height:131px;}
.end1 .d3 dt{font-size:16px; font-weight:bold; color:#666; margin-top:24px; line-height:28px; height:28px;}
.end1 .d3 dd{ margin-top:10px;}
.end1 .d3 dd a{font-size:12px;color:#666;}
.end1 .d4{ width:123px; height:131px;}
.end1 .d4 dt{font-size:16px; font-weight:bold; color:#666; margin-top:24px; line-height:28px; height:28px;}
.end1 .d4 dd{ margin-top:10px;}
.end1 .d4 .dd1{ background:url(../img/weibo.png) no-repeat left center;}
.end1 .d4 .dd2{ background:url(../img/kongjian.png) no-repeat left center;}
.end1 .d4 .dd3{ background:url(../img/tengxun.png) no-repeat left center;}
.end1 .d4 dd a{font-size:12px;color:#666;padding-left:19px;}
.end1 .d5{ width:147px; height:131px;}
.end1 .d5 p{font-size:16px; font-weight:bold; color:#666; margin-top:29px;}
.end1 .d5 a{ display:block; width:115px; height:115px; margin-top:20px;}
.end1 .d5 a img{ display:block; width:115px; height:115px;}
.end1 .d6{ width:150px;}
.end1 .d6 p{font-size:16px; font-weight:bold; color:#666; margin-top:29px;}
.end1 .d6 a{ display:block; width:131px; height:97px; margin-top:16px;}
.end1 .d6 a img{ display:block; width:131px; height:97px;}
.end2 dl{ font-size:12px;color:#666; line-height:30px; padding-left:10px;}
.end2 p{font-size:12px;color:#666; line-height:30px;}
.end2 dd{ float:left; padding-left:11px;}
.end3 p{ font-size:12px;color:#666; }
.end3 a{ font-size:12px;color:#666; }
.end3 .p1{padding-top:16px;}
.end3 .p2{padding-top:10px;}











